@charset "utf-8";

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
	font-family: sans-serif;
}

body{
	background:#000000;
}


section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;

}


.container .titles{
    display: flex;
    align-items: center;
} 


.container .title1, .title2{
    font-size: 15vw;
    font-weight: 800;
    line-height: 150px;
    letter-spacing: -1vw;
}


.container .soon{
    font-size: 3.5vw;
    margin-top: 15vw;
    color: white;
}


.reveal1{
    position: relative;
    transform: translateY(-150px);
    opacity: 0;
    transition: 2s all ease;
    color: rgb(101, 184, 235);
}


.reveal1.active{
    transform: translateY(0px);
    opacity: 1;
}


.reveal2{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}


.reveal2.active{
    transform: translateY(0px);
    opacity: 1;
}


.reveal3{
    opacity: 0;
    animation: fade-in 2s ease forwards;
    animation-delay: 1s;
}


@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}







    
